<div class="h-auto mx-auto max-w-screen-2xl px-7 lg:px-52">
  <div class="flex flex-col gap-32 md:gap-24">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="max-w-lg mb-5 text-3xl font-semibold leading-10 text-text">
          Generate, consolidate, and autofill strong and secure passwords for
          all your accounts
        </h1>
        <h3 class="max-w-lg text-lg">
          securePass gives you power to create and manage unique passwords, so
          you can strengthen privacy and boost productivity online from any
          device or location.
        </h3>
      </div>
      <div class="hidden md:block">
        <img src="../../../assets/img-connected.svg" alt="" />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="hidden md:block">
        <img
          class="w-72"
          src="../../../assets/icon-secure-send-round.svg"
          alt=""
        />
      </div>
      <div>
        <h1 class="max-w-lg mb-5 text-3xl font-semibold leading-10 text-text">
          Securely share encrypted information directly with anyone
        </h1>
        <h3 class="max-w-lg text-lg">
          securePass Send is a feature that allows all users to transmit data
          directly to others, while maintaining end-to-end encrypted security
          and limiting exposure.
        </h3>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        <h1 class="max-w-lg mb-5 text-3xl font-semibold leading-10 text-text">
          Gain peace of mind with comprehensive compliance
        </h1>
        <h3 class="max-w-lg text-lg">
          Protect your online data using a password manager you can trust.
          securePass conducts regular third-party security audits and is
          compliant with GDPR, SOC 2, HIPAA, Privacy Shield, and CCPA standards.
        </h3>
      </div>
      <div class="hidden md:block">
        <img src="../../../assets/img-safety.svg" alt="" />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="hidden md:block">
        <img class="w-72" src="../../../assets/icon-2fa-alt2.svg" alt="" />
      </div>
      <div>
        <h1 class="max-w-lg mb-5 text-3xl font-semibold leading-10 text-text">
          Protect more than your passwords
        </h1>
        <h3 class="max-w-lg text-lg">
          Store all types of sensitive data, transmit it securely to anyone,
          access vault health reports—and much more.
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col items-center p-10 mt-20 text-white bg-primary gap-7">
  <h1 class="gap-5 text-2xl font-semibold text-center">
    Work more productive and Power up your protection
  </h1>
  <button class="px-5 py-2 bg-white rounded-md text-primary">
    Contact sales
  </button>
</div>
