<section class="text-gray-600 body-font">
  <button
    (click)="hideUnhide()"
    class="px-6 py-2 mx-10 my-10 text-center text-white rounded-md md:px-32 md:py-4 bg-primary"
  >
    Add Notes
  </button>
  <form
    (submit)="FormSubmit(FormData)"
    #FormData="ngForm"
    [ngClass]="isBool ? 'block' : 'hidden'"
    class="container max-w-3xl p-4 mx-auto mt-6 mb-0 space-y-4 text-center rounded-lg shadow-lg sm:p-6 lg:p-8"
  >
    <div>
      <div class="relative">
        <input
          type="text"
          class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
          placeholder="Enter Heading"
          name="heading"
          required
          [ngModel]="headingModel"
          #heading="ngModel"
        />

        <div class="mt-4" *ngIf="heading.touched && heading.invalid">
          <p class="text-red-500" *ngIf="heading.errors!['required']">
            Heading is required
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="relative">
        <input
          #sideHeading="ngModel"
          type="text"
          class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
          placeholder="Enter the side heading"
          name="sideHeading"
          [ngModel]="sideHeadingModel"
          required
        />
        <div class="mt-4" *ngIf="sideHeading.touched && sideHeading.invalid">
          <p class="text-red-500" *ngIf="sideHeading.errors!['required']">
            side Heading is required
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="relative my-5">
        <input
          #paragraph="ngModel"
          type="text"
          class="w-full p-4 pb-20 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
          placeholder="Enter the paragraph"
          [ngModel]="paragraphModel"
          name="paragraph"
          required
        />
        <div class="mt-4" *ngIf="paragraph.touched && paragraph.invalid">
          <p class="text-red-500" *ngIf="paragraph.errors!['required']">
            Heading is required
          </p>
        </div>
        <button
          type="submit"
          [disabled]="FormData.invalid"
          class="block w-full px-5 py-3 mt-10 mb-5 text-sm font-medium text-white bg-indigo-600 rounded-lg"
        >
          Add Note
        </button>

        <p class="text-sm text-center text-gray-500">
          <a class="underline" routerLink="/register-site"
            >create another site</a
          >
        </p>
      </div>
    </div>
  </form>

  <div
    [ngClass]="isBool ? 'hidden' : 'block'"
    class="container px-5 py-12 mx-auto md:py-12"
  >
    <div
      class="flex flex-col flex-wrap items-center w-full mb-10 text-center md:mb-20"
    >
      <h1
        class="mb-5 text-2xl font-medium text-gray-900 sm:text-3xl title-font"
      >
        Worlds best encrypted note storing Password manager
      </h1>
      <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
        All notes are stored end to encrypted and no one can take your data we
        don't have any control in your data please store some important notes
        and other credentials here because we are not traditional note storing
        app for that you can use other apps.
      </p>
    </div>
    <div class="flex flex-wrap justify-center w-full gap-5 md:gap-10">
      <div *ngFor="let item of notesObject">
        <div class="flex flex-wrap -m-4">
          <div
            class="w-auto min-w-[15rem] max-w-[20rem] md:max-w-[25rem] md:min-w-[20rem] p-4 break-words"
          >
            <div class="relative p-6 border border-gray-200 rounded-lg">
              <h2 class="mb-2 text-xl font-medium text-gray-900 title-font">
                {{ item.heading }}
              </h2>
              <p class="text-base leading-relaxed text-black">
                {{ item.sideHeading }}
              </p>
              <p class="mt-5 text-sm leading-relaxed">
                {{ item.paragraph }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
