<div class="mt-20 px-7">
  <div class="mx-auto max-w-screen-2xl">
    <h1 class="text-3xl font-semibold text-center lg:mb-16 text-text">
      Everything you need out of a Password manager
    </h1>
    <div class="flex flex-col md:flex-row md:gap-7">
      <div class="flex flex-col items-center">
        <img class="mt-16 mb-6 w-28" src="../../../assets/time.png" alt="" />
        <h2 class="mb-5 text-xl font-medium text-text">Easy</h2>
        <h3 class="mb-2 text-xl font-medium text-center text-text">
          Powerful Security Within minutes
        </h3>
        <p class="max-w-xl text-xl text-center text-black/50">
          For those who want more to do more, secure more and collaborate
          more,securePass is fast and easy to setup for both individuals and
          businesses
        </p>
      </div>
      <div class="flex flex-col items-center">
        <img
          class="mt-16 mb-6 w-28"
          src="../../../assets/icon-convenient.svg"
          alt=""
        />
        <h2 class="mb-5 text-xl font-medium text-text">Convenient</h2>
        <h3 class="mb-2 text-xl font-medium text-center text-text">
          Unlimited passwords, Unlimited devices
        </h3>
        <p class="max-w-xl text-xl text-center text-black/50">
          Cross platform access for mobile, browser, and desktop apps. Supported
          in over 50 languages.
        </p>
      </div>

      <div class="flex flex-col items-center">
        <img
          class="mt-16 mb-6 w-28"
          src="../../../assets/icon-secure-password.svg"
          alt=""
        />
        <h2 class="mb-5 text-xl font-medium text-text">Secure</h2>
        <h3 class="mb-2 text-xl font-medium text-center text-text">
          Protect what important to you
        </h3>
        <p class="max-w-xl mb-20 text-xl text-center text-black/50">
          Zero knowledge, end-to-end encryption guides the Bitwarden open source
          approach to trust, accountability, and security.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="flex flex-col items-center justify-center mt-20 mb-20 text-white bg-secondary px-7"
>
  <h1
    class="max-w-2xl mt-10 mb-5 text-3xl font-semibold text-center md:text-4xl"
  >
    New products for developers
  </h1>
  <div class="flex flex-col">
    <div class="flex">
      <h3 class="text-center lg:text-lg">
        Join SecurePass Open source contribution
      </h3>
      <a class="mt-1" href="/">
        <span class="material-symbols-outlined"> chevron_right </span></a
      >
    </div>
    <div class="flex mb-5">
      <h3 class="text-center lg:text-lg">
        Join SecurePass Open source Beta version
      </h3>
      <a class="mt-1" href="/"
        ><span class="material-symbols-outlined"> chevron_right </span></a
      >
    </div>
  </div>
</div>
