<nav class="fixed w-full text-white bg-primary font-openSans">
  <div class="mx-auto px-7 max-w-screen-2xl">
    <div class="flex items-center justify-between h-16 md:gap-12">
      <!-- first section logo  -->
      <a href="/">
        <object
          data="../../../assets/CollectionSvg/logo.svg"
          type="image/svg+xml"
          height="30"
          width="30"
        ></object>
      </a>
      <!-- second ul section for the anger tag -->
      <div class="hidden md:block">
        <ul class="flex items-center gap-6 text-lg">
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Careers</a>
          </li>
          <li>
            <a href="">Donation</a>
          </li>
          <li>
            <a href="">Services</a>
          </li>
          <li>
            <a href="">Projects</a>
          </li>
        </ul>
      </div>
      <!-- third section for the menu bar -->
      <div class="flex items-center">
        <div class="sm:flex sm:gap-4">
          <a
            class="rounded-md bg-third px-5 py-2.5 text-sm font-medium text-white shadow"
            href="/"
          >
            Login
          </a>

          <div class="hidden sm:flex">
            <a
              class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-primary"
              href="/"
            >
              Register
            </a>
          </div>
        </div>
        <div class="block md:hidden">
          <button class="p-2 text-gray-600 transition rounded">
            <object
              data="../../../assets/CollectionSvg/menuBar.svg"
              type="image/svg+xml"
              width="30"
              height="30"
            ></object>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
