<div class="w-auto mx-auto px-7 py-7 bg-primary lg:h-auto lg:py-[6rem]">
  <div
    class="flex flex-col items-center mx-auto text-white lg:flex-row lg:justify-between max-w-screen-2xl"
  >
    <div class="font-openSans">
      <h1
        class="mt-16 mb-5 text-4xl font-extrabold leading-10 text-center lg:text-6xl lg:text-left lg:max-w-2xl font-openSans lg:mb-10"
      >
        Move fast and securely with the password manager trusted by millions.
      </h1>
      <p class="mb-10 text-xl leading-7 text-center lg:max-w-2xl lg:text-left">
        Drive collaboration, boost productivity, and experience the power of
        open source with securePass, the easiest way to secure all your
        passwords and sensitive information.
      </p>
      <div class="flex flex-col items-center gap-4 lg:mb-20 lg:flex-row">
        <button
          class="w-auto py-4 text-xl bg-white rounded-md text-primary px-7"
        >
          Get Started Today
        </button>
        <button
          class="w-auto px-10 py-3 text-xl text-white border-2 rounded-md bg-primary"
        >
          View Plans & Pricing
        </button>
      </div>
    </div>

    <div class="lg:-mr-14">
      <img
        src="../../../assets/CollectionSvg/gdpr-animate (2).svg"
        height="700"
        width="700"
        alt="hero-image-security;"
      />
    </div>
  </div>
</div>
<div
  class="flex flex-col items-center justify-center text-white bg-secondary px-7"
>
  <h1
    class="max-w-2xl mt-10 mb-5 text-3xl font-semibold text-center md:text-4xl"
  >
    New products for developers
  </h1>
  <div class="flex flex-col">
    <div class="flex">
      <h3 class="text-center lg:text-lg">
        Join SecurePass Open source contribution
      </h3>
      <a class="mt-1" href="/">
        <span class="material-symbols-outlined"> chevron_right </span></a
      >
    </div>
    <div class="flex mb-5">
      <h3 class="text-center lg:text-lg">
        Join SecurePass Open source Beta version
      </h3>
      <a class="mt-1" href="/"
        ><span class="material-symbols-outlined"> chevron_right </span></a
      >
    </div>
  </div>
</div>
